node_red_dashboard.json
[{"id":"mqtt_broker_config","type":"mqtt-broker","name":"Public HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"flow_tab_iot_dashboard","type":"tab","label":"IoT Dashboard","disabled":false,"info":"","env":[]},{"id":"mqtt_in_env","type":"mqtt in","z":"flow_tab_iot_dashboard","name":"EnvNode01 Data","topic":"fiap/gs/envnode01/data","qos":"2","datatype":"auto-detect","broker":"mqtt_broker_config","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":100,"wires":[["json_parse_env"]]},{"id":"json_parse_env","type":"json","z":"flow_tab_iot_dashboard","name":"Parse Env JSON","property":"payload","action":"obj","pretty":false,"x":350,"y":100,"wires":[["debug_env_raw","gauge_temp","gauge_humidity","text_distance","chart_accel","chart_gyro","simulate_env_urgency"]]},{"id":"debug_env_raw","type":"debug","z":"flow_tab_iot_dashboard","name":"Debug Env Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"gauge_temp","type":"ui_gauge","z":"flow_tab_iot_dashboard","name":"Temperature","group":"group_env_node","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature (°C)","label":"°C","format":"{{msg.payload.data.temperature_c}}","min":0,"max":"50","colors":["#00b500","#ffdd00","#ca3838"],"seg1":"15","seg2":"35","className":"","x":560,"y":120,"wires":[]},{"id":"gauge_humidity","type":"ui_gauge","z":"flow_tab_iot_dashboard","name":"Humidity","group":"group_env_node","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity (%)","label":"%","format":"{{msg.payload.data.humidity_percent}}","min":0,"max":"100","colors":["#00b500","#ffdd00","#ca3838"],"seg1":"40","seg2":"70","className":"","x":550,"y":180,"wires":[]},{"id":"text_distance","type":"ui_text","z":"flow_tab_iot_dashboard","group":"group_env_node","order":3,"width":0,"height":0,"name":"Distance","label":"Distance/Water Level (cm)","format":"{{msg.payload.data.distance_cm}}","layout":"row-spread","className":"","x":560,"y":240,"wires":[]},{"id":"chart_accel","type":"ui_chart","z":"flow_tab_iot_dashboard","name":"Accelerometer","group":"group_env_node","order":5,"width":0,"height":0,"label":"Accelerometer (X, Y, Z)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#ffbb78","#2ca02c","#98df8a","#d62728","#ff9896"],"outputs":1,"useDifferentColor":false,"className":"","x":570,"y":360,"wires":[[]]},{"id":"chart_gyro","type":"ui_chart","z":"flow_tab_iot_dashboard","name":"Gyroscope","group":"group_env_node","order":6,"width":0,"height":0,"label":"Gyroscope (X, Y, Z)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#ffbb78","#2ca02c","#98df8a","#d62728","#ff9896"],"outputs":1,"useDifferentColor":false,"className":"","x":560,"y":420,"wires":[[]]},{"id":"mqtt_in_loc","type":"mqtt in","z":"flow_tab_iot_dashboard","name":"LocationTracker01 Data","topic":"fiap/gs/locationtracker01/data","qos":"2","datatype":"auto-detect","broker":"mqtt_broker_config","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":520,"wires":[["json_parse_loc"]]},{"id":"json_parse_loc","type":"json","z":"flow_tab_iot_dashboard","name":"Parse Loc JSON","property":"payload","action":"obj","pretty":false,"x":380,"y":520,"wires":[["debug_loc_raw","map_location","text_loc_status","simulate_loc_urgency"]]},{"id":"debug_loc_raw","type":"debug","z":"flow_tab_iot_dashboard","name":"Debug Loc Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"map_location","type":"ui_worldmap","z":"flow_tab_iot_dashboard","group":"group_location_node","order":1,"width":0,"height":0,"name":"Location Tracker","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,CA","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":590,"y":540,"wires":[]},{"id":"text_loc_status","type":"ui_text","z":"flow_tab_iot_dashboard","group":"group_location_node","order":2,"width":0,"height":0,"name":"Status","label":"Last Event","format":"{{payload.alertType}} at {{payload.timestamp | date:\":mm:ss\"}}","layout":"row-spread","className":"","x":580,"y":600,"wires":[]},{"id":"mqtt_in_status","type":"mqtt in","z":"flow_tab_iot_dashboard","name":"StatusReporter01 Data","topic":"fiap/gs/statusreporter01/data","qos":"2","datatype":"auto-detect","broker":"mqtt_broker_config","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":700,"wires":[["json_parse_status"]]},{"id":"json_parse_status","type":"json","z":"flow_tab_iot_dashboard","name":"Parse Status JSON","property":"payload","action":"obj","pretty":false,"x":390,"y":700,"wires":[["debug_status_raw","text_status_report","simulate_status_urgency"]]},{"id":"debug_status_raw","type":"debug","z":"flow_tab_iot_dashboard","name":"Debug Status Raw","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":660,"wires":[]},{"id":"text_status_report","type":"ui_text","z":"flow_tab_iot_dashboard","group":"group_status_node","order":1,"width":0,"height":0,"name":"Last Status","label":"Last Status Reported","format":"{{payload.statusReport}} (Code: {{payload.statusCode}}) at {{payload.timestamp | date:\":mm:ss\"}}","layout":"row-spread","className":"","x":600,"y":720,"wires":[]},{"id":"simulate_env_urgency","type":"function","z":"flow_tab_iot_dashboard","name":"Simulate Env Urgency","func":"// Simple rule-based urgency simulation based on EnvNode01 data\nlet score = 0;\nconst data = msg.payload.data;\n\nif (!data) return null; // Exit if data object is missing\n\n// Temperature rules\nif (data.temperature_c > 40) score += 3;\nelse if (data.temperature_c > 35) score += 1;\n\n// Humidity rules (less critical unless extreme)\nif (data.humidity_percent > 95) score += 1;\n\n// Distance/Water Level rules (assuming lower distance means higher water)\nif (data.distance_cm < 0) { // Error reading\n    // Do nothing or assign penalty?\n} else if (data.distance_cm < 10) score += 4; // Very high water\nelse if (data.distance_cm < 50) score += 2; // Moderate water\n\n// Vibration rules (using magnitude of acceleration vector, simplified)\nlet accel_mag = 0;\nif (data.accelerometer && data.accelerometer.x !== undefined) {\n    accel_mag = Math.sqrt(data.accelerometer.x**2 + data.accelerometer.y**2 + data.accelerometer.z**2);\n}\nif (accel_mag > 15) score += 4; // High vibration (adjust threshold)\nelse if (accel_mag > 10) score += 2;\n\n// Determine Urgency Level\nlet urgency = \"Baixo\";\nif (score >= 8) {\n    urgency = \"Crítico\";\n} else if (score >= 5) {\n    urgency = \"Alto\";\n} else if (score >= 2) {\n    urgency = \"Médio\";\n}\n\n// Add urgency to the message payload\nmsg.payload.simulatedUrgency = urgency;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":300,"wires":[["text_env_urgency"]]},{"id":"text_env_urgency","type":"ui_text","z":"flow_tab_iot_dashboard","group":"group_env_node","order":4,"width":0,"height":0,"name":"Simulated Urgency","label":"Simulated Urgency","format":"<font color=\"{{msg.payload.simulatedUrgency == \"Crítico\" ? \"red\" : msg.payload.simulatedUrgency == \"Alto\" ? \"orange\" : msg.payload.simulatedUrgency == \"Médio\" ? \"yellow\" : \"green\"}}\"><b>{{msg.payload.simulatedUrgency}}</b></font>","layout":"row-spread","className":"","x":810,"y":300,"wires":[]},{"id":"simulate_loc_urgency","type":"function","z":"flow_tab_iot_dashboard","name":"Simulate Loc Urgency","func":"// Simple rule-based urgency simulation based on LocationTracker01 data\nlet score = 0;\nconst payload = msg.payload;\n\nif (!payload) return null; \n\nif (payload.alertType === \"PanicButton\") {\n    score = 10; // High score for panic button\n}\n\n// Add other rules if needed based on location, speed, etc. (optional)\n\n// Determine Urgency Level\nlet urgency = \"Baixo\";\nif (score >= 8) {\n    urgency = \"Crítico\";\n} else if (score >= 5) {\n    urgency = \"Alto\";\n} else if (score >= 2) {\n    urgency = \"Médio\";\n}\n\n// Add urgency to the message payload\nmsg.payload.simulatedUrgency = urgency;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["text_loc_urgency"]]},{"id":"text_loc_urgency","type":"ui_text","z":"flow_tab_iot_dashboard","group":"group_location_node","order":3,"width":0,"height":0,"name":"Simulated Urgency","label":"Simulated Urgency","format":"<font color=\"{{msg.payload.simulatedUrgency == \"Crítico\" ? \"red\" : msg.payload.simulatedUrgency == \"Alto\" ? \"orange\" : msg.payload.simulatedUrgency == \"Médio\" ? \"yellow\" : \"green\"}}\"><b>{{msg.payload.simulatedUrgency}}</b></font>","layout":"row-spread","className":"","x":810,"y":540,"wires":[]},{"id":"simulate_status_urgency","type":"function","z":"flow_tab_iot_dashboard","name":"Simulate Status Urgency","func":"// Simple rule-based urgency simulation based on StatusReporter01 data\nlet score = 0;\nconst payload = msg.payload;\n\nif (!payload || payload.statusCode === undefined) return null; \n\nswitch (payload.statusCode) {\n    case 1: // OK\n        score = 0;\n        break;\n    case 2: // Assistance Needed\n        score = 4;\n        break;\n    case 3: // Immediate Danger\n        score = 8;\n        break;\n    default:\n        score = 0;\n}\n\n// Determine Urgency Level\nlet urgency = \"Baixo\";\nif (score >= 8) {\n    urgency = \"Crítico\";\n} else if (score >= 5) {\n    urgency = \"Alto\";\n} else if (score >= 2) {\n    urgency = \"Médio\";\n}\n\n// Add urgency to the message payload\nmsg.payload.simulatedUrgency = urgency;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":660,"wires":[["text_status_urgency"]]},{"id":"text_status_urgency","type":"ui_text","z":"flow_tab_iot_dashboard","group":"group_status_node","order":2,"width":0,"height":0,"name":"Simulated Urgency","label":"Simulated Urgency","format":"<font color=\"{{msg.payload.simulatedUrgency == \"Crítico\" ? \"red\" : msg.payload.simulatedUrgency == \"Alto\" ? \"orange\" : msg.payload.simulatedUrgency == \"Médio\" ? \"yellow\" : \"green\"}}\"><b>{{msg.payload.simulatedUrgency}}</b></font>","layout":"row-spread","className":"","x":810,"y":660,"wires":[]},{"id":"group_env_node","type":"ui_group","name":"Environmental Node (EnvNode01)","tab":"ui_tab_main","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"group_location_node","type":"ui_group","name":"Location Tracker (LocationTracker01)","tab":"ui_tab_main","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"group_status_node","type":"ui_group","name":"Status Reporter (StatusReporter01)","tab":"ui_tab_main","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ui_tab_main","type":"ui_tab","name":"Global Solution IoT Dashboard","icon":"dashboard","disabled":false,"hidden":false}]
